@import "tailwindcss";
@font-face {
  font-family: 'vazir';
  src: url('../fonts/vazir.woff2') format('woff2 supports variations'),
       url('../fonts/vazir.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body{
    font-family: 'vazir';
}
*{
  outline: none;
}
header , footer{
    background: #DDD;
}
.intro-text h1{
  background: #473678;
  background: linear-gradient(to right, #473678 0%, #736899 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p{
  background: #505050;
  background: linear-gradient(to right, #505050 0%, #8E8E8E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.ui-popup{
  animation: zoomIn 0.5s ease-out;
  transform-origin: center; 
}
.vue-tel-input{
  border:0 !important;
}
.vue-tel-input:focus-within{
  box-shadow: unset !important;
}
.vti__dropdown{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f9fafb !important;
}
.fade-enter-active {
  transition: all 0.3s;
}
.fade-leave-active {
  transition: all 0s;
}
.fade-enter-from {
  opacity: 0;
}
.fade-leave-to {
  display: none;
}
.zoomIN-enter-active, .zoomIN-leave-active {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.zoomIN-enter, .zoomIN-leave-to {
  transform: scale(0.5);
  opacity: 0;
}
.zoomIN-enter-to, .zoomIN-leave {
  transform: scale(1);
  opacity: 1;
}